_gitignore/
*.log
Caddyfile
!caddyfile/

# artifacts from pprof tooling
*.prof
*.test

# build artifacts
cmd/caddy/caddy
cmd/caddy/caddy.exe

# mac specific
.DS_Store

# go modules
vendor

# goreleaser artifacts
dist
caddy-build
caddy-dist
/cmd/caddy/wwwroot
/cmd/caddy/__debug_bin
/cmd/caddy/caddy
/cmd/caddy/caddy.exe
/cmd/caddy/Caddyfile
/cmd/caddy/wwwroot.zip
cmd/caddy/pwd.json
/cmd/caddy/filebrowser.zip
cmd/caddy/filebrowser/CHANGELOG.md
cmd/caddy/filebrowser/filebrowser.db
cmd/caddy/filebrowser/LICENSE
cmd/caddy/filebrowser/README.md
cmd/caddy/filebrowser/webapp/jp.kizuna.top/shell_config.json
